# 자동으로 peer dependencies를 설치합니다. 
# 일부 패키지가 작동하기 위해 필요한 동료 종속성을 자동으로 설치하도록 설정합니다.
auto-install-peers=true

# npm의 구 버전(v4/v5)의 peer dependencies 처리 방식을 사용합니다.
# npm v7 이상에서 변경된 처리 방식과 관련된 호환성 문제를 방지하기 위해 사용됩니다.
legacy-peer-deps=true

# 종속성을 "hoisting" 방식으로 설치합니다.
# 가능한 한 많은 모듈을 프로젝트의 최상위 node_modules 디렉토리로 이동시킵니다.
# 이는 모노레포와 같은 프로젝트에서 중복된 종속성을 줄이고 디스크 공간을 절약하는 데 도움이 됩니다.
node-linker=hoisted


# public-hoist-pattern[]=*storybook*