#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counter-group {
  display: flex;
  gap: 4px;
}

.store-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
